
<div class="container-fluid-nav text-center">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Online Laptop Store</a>
</nav>
</div>

<div style="margin: auto; width: 50%;">

</div>

<br>
<div class="form-group search-box">
<input  text="text" #myInput [(ngModel)]= "name" (input)="Search()" class="form-control mr-sm-2" type="text" placeholder="Search by product name" aria-label="Search" >

<input  text="text" #myInput [(ngModel)]= "color" (input)="SearchColor()" class="form-control mr-sm-2" type="text" placeholder="Search by color" aria-label="Search" >
  
<!--<select>
    <option *ngFor="let products of productsList" [value]="color" >  {{products.color}} </option>
 </select>-->
</div>


<div>
<table class="table table-bordered products-table" >
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Color</th>
      <th>Description</th>
      <th>Price</th>
      <th>Model number</th>
      <th>Created date</th>
      <th>Video</th>
      <th>Category</th>
      <th>Company name</th>
      <th>Image 1</th>
      <th>Image 2</th>
      <th>Image 3</th>
      <th>Image 4</th>
    </tr>

    <tr *ngFor = "let products of productsList">
      <td>{{products.id}}</td>
      <td>{{products.name}}</td>
      <td>{{products.color}}</td>
      <td>{{products.description}}</td>
      <td>{{products.price}}</td>
      <td>{{products.modelNumber}}</td>
      <td>{{products.createdDate}}</td>
      <td>{{products.video}}</td>
      <td>{{products.category}}</td>
      <td>{{products.companyName}}</td>
      <td>  <img class="products-img" src="{{products.image1}}"></td>
      <td> <img class="products-img" src="{{products.image2}}"></td>
      <td> <img  class="products-img"src="{{products.image3}}"></td>
      <td> <img  class="products-img"src="{{products.image4}}"></td>
    </tr>
</table>

</div>
  

<!--material table-->
